# file needs to be in /home/myuser/.config/systemd/user/yubi-oath-vpn.service
[Unit]
Description=Yubiky Monitor
After=graphical.target

[Service]
Type=simple
ExecStart=%h/Apps/yubi-oath-vpn -c $VPN_NAME # use the actual VPN name here
Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"
